
.cell{
  display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #69D2E7;
	border: none;
	border-radius: 10%;
	box-shadow: 0 .03em .08em rgba(0,0,0, 0.5);
	margin: 8px;
	transition: background-color 0.2s ease;
}
.cell:hover{
  background-color:#FA6900;
}
.col-xs-4{
  width:80px;
  height:80px;
  font-size: 70px;
  float: left;
  text-align: center;
  color:black;
}
#main{
  min-height: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;

}

body {
  background-color:#E0E4CC;
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.endgame {
  display: none;
  width: 200px;
  bottom: 1px;
  background-color: #FA6900;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 10px;
  padding-bottom:10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
  border-radius: 5px;
  border-color:solid black;
  color: white;
}

#replayBtn {
  padding: 6px 12px;
  background-color: #228b22;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.5em;
  transition: 0.3s;
}

#replayBtn:hover {
  background-color: #006400;
}
.starting{
  text-align: center;
}
#turn1{
  padding: 6px 12px;
  background-color: #228b22;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
#turn1:hover{
  background-color: #006400;
}
#turn2{
  padding: 6px 12px;
  background-color: #228b22;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
#turn2:hover{
    background-color: #006400;
}
